[submodule "cog-flatbuffer-definitions"]
	path = cog-flatbuffer-definitions
	url = https://github.com/SaltyQuetzals/cog-flatbuffer-definitions
[submodule "libs/flatbuffers"]
	path = libs/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "include/cog-flatbuffer-definitions"]
	path = include/cog-flatbuffer-definitions
	url = https://github.com/SaltyQuetzals/cog-flatbuffer-definitions
