<html>
  <head>
    <!-- <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script> -->
    <script src="/public/bundle.js"></script>
    <link rel="stylesheet" href="/public/index.css" />
  </head>
  <body>
    <a-scene debug>
      <a-assets>
        <a-asset-item
          id="conference-roundtable"
          src="/public/conference-roundtable/scene.gltf"
        ></a-asset-item>
        <a-asset-item
          id="conference-room"
          src="/public/conference-room/scene.gltf"
        ></a-asset-item>
        <a-asset-item
          id="sitting"
          src="/public/Lowpolymesh_Eliber.glb"
        ></a-asset-item>
        <video
          id="juror-a-video"
          autoplay
          muted
          src="/public/videos/juror-a-idle-1.mp4"
        ></video>
        <video
          id="juror-b-video"
          autoplay
          muted
          src="/public/videos/juror-b-idle-1.mp4"
        ></video>
        <video
          id="juror-c-video"
          autoplay
          muted
          src="/public/videos/juror-c-idle-1.mp4"
        ></video>
        <video
          id="jury-foreman-video"
          autoplay
          muted
          src="/public/videos/jury-foreman-idle-1.mp4"
        ></video>
      </a-assets>
      <a-entity
        scale="1.0 0.4 1.0"
        position="0 0 0"
        gltf-model="#conference-roundtable"
      ></a-entity>
      <a-entity scale="0.01 0.01 0.01" gltf-model="#conference-room"></a-entity>
      <a-triangle
        class="indicator-triangle"
        speaker-id="juror-a"
        color="#FFD700"
        position="2.023 0.018 0.129"
        rotation="0 45.786 0"
        vertex-a="-0.05 1.296 0"
        vertex-b="0 1.296 0.0144337567"
        vertex-c="0 1.296 -0.0144337567"
        material="side: double; opacity: 0;"
        animation__fade="property: components.material.material.opacity; from: 1; to: 0; startEvents: fade; dur: 10000;"
      >
      </a-triangle>
      <a-triangle
        class="indicator-triangle"
        speaker-id="juror-b"
        color="#FFD700"
        position="1.984 0.018 0.088"
        rotation="0 20.145 0"
        vertex-a="-0.05 1.296 0"
        vertex-b="0 1.296 0.0144337567"
        vertex-c="0 1.296 -0.0144337567"
        material="side: double; opacity: 0;"
        animation__fade="property: components.material.material.opacity; from: 1; to: 0; startEvents: fade; dur: 10000;"
      >
      </a-triangle>
      <a-triangle
        class="indicator-triangle"
        speaker-id="juror-c"
        color="#FFD700"
        position="1.984 0.018 -0.026"
        rotation="0 -8.697 0"
        vertex-a="-0.05 1.296 0"
        vertex-b="0 1.296 0.0144337567"
        vertex-c="0 1.296 -0.0144337567"
        material="side: double; opacity: 0;"
        animation__fade="property: components.material.material.opacity; from: 1; to: 0; startEvents: fade; dur: 10000;"
      >
      </a-triangle>
      <a-triangle
        class="indicator-triangle"
        speaker-id="jury-foreman"
        color="#FFD700"
        position="2.025 0.018 -0.113"
        rotation="0 -49.939 0"
        vertex-a="-0.05 1.296 0"
        vertex-b="0 1.296 0.0144337567"
        vertex-c="0 1.296 -0.0144337567"
        material="side: double; opacity: 0;"
        animation__fade="property: components.material.material.opacity; from: 1; to: 0; startEvents: fade; dur: 10000;"
      >
      </a-triangle>
      <a-entity
        scale="0.3 0.3 0.3"
        position="-0.231 0.67 2.530"
        rotation="0 155 0"
        gltf-model="#sitting"
      >
        <a-video
          id="juror-a"
          src="#juror-a-video"
          video-playback="juror-a"
          width="9"
          height="16"
          scale="0.28 0.28 0.28"
          position="0 4.75 0.9"
        ></a-video>
        <a-plane
          width="3.5"
          height="16"
          scale="0.28 0.28 0.28"
          position="0 4.75 0.9"
          material="side: double; opacity: 0"
          color="#FFF"
        ></a-plane>
      </a-entity>

      <a-entity
        scale="0.3 0.3 0.3"
        position="-2.002 0.670 1.273"
        rotation="0 120 0"
        gltf-model="#sitting"
      >
        <a-video
          id="juror-b"
          src="#juror-b-video"
          video-playback="juror-b"
          width="16"
          height="9"
          scale="0.37 0.37 0.37"
          position="0 4.75 0.9"
        ></a-video>
        <a-plane
          width="6"
          height="9"
          scale="0.37 0.37 0.37"
          position="0 4.75 0.9"
          material="side: double; opacity: 0"
        ></a-plane>
      </a-entity>
      <a-entity
        scale="0.3 0.3 0.3"
        position="-2.287 0.670 -1.110"
        gltf-model="#sitting"
        rotation="0 60 0"
      >
        <a-video
          id="juror-c"
          src="#juror-c-video"
          video-playback="juror-c"
          width="16"
          height="9"
          scale="0.33 0.33 0.33"
          position="0 4.5 0.9"
        ></a-video>
        <a-plane
          width="6"
          height="9"
          scale="0.33 0.33 0.33"
          position="0 4.75 0.9"
          material="side: double; opacity: 0"
        ></a-plane>
      </a-entity>
      <a-entity
        scale="0.3 0.3 0.3"
        position="-0.250 0.670 -2.462"
        rotation="0 25 0"
        gltf-model="#sitting"
      >
        <a-video
          id="jury-foreman"
          src="#jury-foreman-video"
          video-playback="jury-foreman"
          width="16"
          height="9"
          scale="0.33 0.33 0.33"
          position="0 4.75 0.9"
        ></a-video>
        <a-plane
          width="6"
          height="9"
          scale="0.33 0.33 0.33"
          position="0 4.75 0.9"
          material="side: double; opacity: 0"
        ></a-plane>
      </a-entity>

      <a-entity id="rig" position="2 0.4 0" rotation="0 90 0">
        <a-camera id="camera" look-controls="pointer-lock-enabled: true;">
          <a-cursor
            cursor="fuse: true; fuseTimeout: 50"
            cursor-reader
          ></a-cursor>
          <a-text
            id="caption"
            opacity="0"
            value="<caption looks like this>"
            align="center"
            scale="0.2 0.2 0.2"
            position="0 -0.6 -1"
            caption="speaker: ''; activeTarget: ''"
          ></a-text>
          <a-text
            id="ambientCaption"
            opacity="0"
            value="<caption looks like this>"
            align="center"
            wrap-count="60"
            width="6.5"
            scale="0.2 0.2 0.2"
            position="0.7 0.7 -1"
            caption="speaker: ''; activeTarget: ''; ambientCaption: true;"
          ></a-text>
        </a-camera>
      </a-entity>
    </a-scene>
  </body>
</html>
